__pycache__
.idea/
~*
*.pyc
.bash_history
.python_history
.odbc.ini
docker-compose-local.yml
dags/test_dag.py
dags/test_dag.sql
.cache/
.ipython/
.local/
dags/billing/notebooks/.ipynb_checkpoints/
.env
config
plugins
logs
